*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, p {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 24px 0;
  background: #eeeeee;
  -webkit-font-smoothing: antialiased;
}
